build/
dist/
_build/
_generate/
*.so
*.py[cod]
*.egg-info

.cproject
.project
.settings/
memory/
src/CMakeCache.txt
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
src/jemalloc/
src/malloc_free
src/pybind11/
src/test2
